{% extends "base.html" %}

{% block titulo %} NOSOTROS {% endblock %}

{% block contenido%}

<br><br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">¿Quienes Somos?</h1>                                                               {# Título principal centrado#}

    <p class="lead text-center">Somos una empresa dedicada al diseño y confección de amigurumis 100% abrazables.</p>   {# Descripción centrada#}
    <br>
    <h1 class="display-4 text-center">Nuestra Misión</h1>                                                            {# Subtítulo centrado#}

    <p class="lead text-center">Diseñar, confeccionar y comercializar amigurumis hechos a mano con dedicación y originalidad,
       ofreciendo productos físicos y digitales - como kits y patrones - que promuevan el arte del tejido, la cultura local y 
       el emprendimiento creativo, mediante plataformas digitaales accesibles a una comunidad comprometida. </p>                                                                                               {# Descripción centrada#}                               
    <br>
    <h1 class="display-4 text-center">Nuestra Visión</h1>                                                             {# Subtítulo centrado#}
    <br>
    <p class="lead text-center">Ser una marca reconocida a nivel internacional por la creación de amigumis únicos, sostenibles,
       llenos de identidad, que inspiran ternura y conexión emocional en cada rincón del mundo.</p>                                                   {# Descripción centrada#}
  </div>
</div>
<br><br>


{% endblock%}