{% extends "base.html" %}

{% block titulo %} Panel de Productos {% endblock %}

{% block contenido %}

<br><br>
<div class="card">
    <div class="card-header">
        <a class="btn btn-info" href="{% url 'crear' %}" role="button">NUEVO PRODUCTO</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Lista de Productos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in market %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>${{ producto.precio|floatformat:0 }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>
                            <div class="d-flex">
                                <a class="btn btn-warning me-2" href="{% url 'editar' producto.id %}" role="button">Editar</a>
                                <a class="btn btn-danger" href="{% url 'eliminar' producto.id %}" role="button">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No hay productos disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">DISPONIBLES</div>
</div>
<br><br><br>

{% endblock %}